<div class="quote box">
	
	<p class="id"><%=link_to '#'+quote.id.to_s, short_quote_url(quote) %>
		<% if logged_in? %>
			- <%=link_to 'Edit', edit_quote_url(quote) %>
		<% end %>
	</p>
	
	<p class="rating">
		<a class="vote-down">-</a> <%=h quote.positive_votes.count - quote.negative_votes.count %>
    (<%=h quote.votes_count %>) <a class="vote-up">+</a>
	</p>
	
	<p class="text">
		<%=h(quote.quote).delete("\r").gsub("\n",'<br />') %>
	</p>
	
	<% if quote.comment.length > 0 %>
		<hr />
		<p>Comment: <%=h quote.comment %></p>
	<% end %>
</div>
