<% div_for(quote, :class => "box") do %>
	
	<p class="id"><%=link_to '#'+quote.id.to_s, short_quote_url(quote) %>
		<% if logged_in? %>
			- <%=link_to 'Edit', edit_quote_url(quote) %>
		<% end %>
	</p>
	
	<p class="rating">
		<%=link_to_remote "-", :update => "#{quote.id}-rating",
      :url => vote_url(quote, 'down'), :html => { :href => vote_url(quote, 'down'), :class => 'vote-down' } %>
      
    <span id="<%= quote.id %>-rating"><%=h quote.rating %>
    (<%=h quote.votes.count %>)</span>
    
    <%=link_to_remote "+", :update => "#{quote.id}-rating",
      :url => vote_url(quote, 'up'), :html => { :href => vote_url(quote, 'up'), :class => 'vote-up' } %>
	</p>
	
	<p class="text">
		<%=h(quote.quote).delete("\r").gsub("\n",'<br />') %>
	</p>
	
	<% if quote.comment? %>
		<hr />
		<p>Comment: <%=h quote.comment %></p>
	<% end %>
<% end %>
